body{
    margin: 0;
    border: 0;
    padding: 0;
    background-color: #111;
    color: #999;
}
header{
    background-color: #333;
}
.search{
    display: block;
    height: 50px;
    text-align: right;
 }
.search input{
    margin-top: 10px;
    margin-right: 10px;
    width: 300px;
    border-radius: 6px;
    border-color: #222;
    background-color: #444;
    color: #999;
    font-size: 18px;
}
.tittle{
    display: block;
    height: 50px;
    margin-top: -50px;
    text-align: center;
    color: #cccccc;
    font-family: Calibri, sans-serif;
    font-size: 24px;
}
.tittle span{
    display: block;
    padding-top: 10px;
    font-size: 24px;
}

.hidden-menu {
    display: block;
    position: fixed;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 200px;
    background-color: #222;
    height: 100%;
    top: 0;
    left: -200px;
    transition: left .3s;
    z-index: 2;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}

.hidden-menu-ticker {
    display: none;
}
.btn-menu {
    color: #fff;
    background-color: #222;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    transition: left .3s 0s;
    z-index: 3;
    width: 50px;
    height: 50px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}
.btn-menu img {
    margin: 0;
    transition: all .3s linear 0s;
    position: relative;
}
.btn-menu span.first {
    margin-top: 0;
}

.hidden-menu-ticker:checked ~ .btn-menu {
    left: 200px;
}
.hidden-menu-ticker:checked ~ .hidden-menu {
    left: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu img {
    -webkit-transform: rotate(90deg);
}