body {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: #eec;
    color: #333;
}

header {
    position: fixed;
    top: 0px;
    height: 50px;
    width: 100%;
    min-width: 300px;
    background-color: #333;
}

footer {

}

.wraper {
}

.content {
    margin-top: 50px;
    margin-left: 0;
}

.title {
    display: block;
    height: 50px;
    text-align: center;
    color: #ccc;
    font-family: Calibri, sans-serif;
    font-size: 24px;
}

.title span {
    display: block;
    padding-top: 8px;
    font-size: 24px;
}

.slide-menu-list {
    display: block;
    position: fixed;
    top: 0;
    left: -200px;
    height: 100%;
    width: 200px;
    box-sizing: padding-box;
    padding: 0;
    margin: 0;
    transition: left .3s;
    z-index: 50;
    background-color: #222;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}

.slide-menu-list li:first-child {
    padding-left: 15px;
    padding-right: 50px;
    padding-top: 8px;
    color: #ccc;
    font-size: 24px;
    height: 50px;
}

.slide-menu-list li{
    height: 50px;
    padding-left: 15px;
    padding-top: 8px;
    font-size: 22px;
}

.slide-menu-list li a {

}

.slide-menu-ticker {
    display: none;
}

.slide-menu-btn {
    color: #fff;
    background-color: #222;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    transition: left .3s 0s;
    z-index: 60;
    width: 50px;
    height: 50px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}

.slide-menu-btn img {
    margin: 0;
    transition: all .3s linear 0s;
    position: relative;
}

.content-shadow {
    content: "";
    position: fixed;
    top: 50px;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0;
    transition: opacity .3s linear 0s;
}

.slide-menu-ticker:checked ~ .slide-menu-btn {
    left: 150px;
}

.slide-menu-ticker:checked ~ .slide-menu-list {
    left: 0;
}

.slide-menu-ticker:checked ~ .slide-menu-btn img {
    -webkit-transform: rotate(90deg);
}

.slide-menu-ticker:checked ~ .content-shadow {
    opacity: 0.5;
}

.slide-menu-ticker:checked ~ .content {
    margin-left: 200px;
}