/* Common */

body {
    margin: 0;
    border: 0;
    padding: 0;
    text-align: center;
    font-family: RobotoRegular, sans-serif;
    line-height: 26px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

h1 {
    text-align: center;
    font-size: 26px;
}

h2 {
    text-align: center;
    font-size: 22px;
}

h4 {
    margin: 0;
}

p {
    line-height: 26px;
    margin: 3px 0;
    text-align: justify;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.wraper {
    max-width: 960px;
    min-width: 700px;
    position: relative;
    margin: 0 auto;
    padding: 0 30px;
    text-align: left;
}

/* Header */
.menu-top {
    background-color: #333333;
    color: #ffffff;
    margin: 0;
    padding: 0;
    z-index: 30;
    position: fixed;
    width: 100%;
    text-align: center;
}

.logo-nav {
    float: left;
    padding: 5px 5px 0 5px;
}

.nav-menu-top ul li {
    float: left;
    list-style-type: none;
}

.nav-menu-top span {
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    padding: 16px 18px 15px 18px;
}

.nav-menu-top a {
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    padding: 12px 18px 14px 18px;
}

.nav-menu-top a:hover {
    background-color: #444444;
}

.lang{
    float: right;
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    padding: 12px 18px 14px 18px;
}

.lang:hover{
    background-color: #444444;
}

    /* Main */

/*Common*/
.common {
    padding-top: 55px;
    padding-bottom: 50px;
}

.common p {
    text-align: left;
}

.photocard {
    float: right;
    margin-top: 10px;
    margin-left: 50px;
    width: 300px;
    height: 300px;
}

/*Knowledges*/
.knowledges {
    background-color: #eeeeff;
    padding-top: 55px;
    padding-bottom: 50px;
}

.html-css-js{
    float: left;
    width: 200px;
    height: 160px;
    margin-right: 50px;
    margin-top: 10px;
}

.sass-less {
    float: right;
    width: 300px;
    height: 100px;
    margin-right: 50px;
    margin-top: 10px;
}

.tools {
    padding-top: 55px;
    background-color: #ffffcc;
    padding-bottom: 50px;
}

.phpstorm-img {
    float: right;
    margin: 0 50px;

}

.projects {
    padding-top: 55px;
    min-height: 650px;
    background-color: #ccffcc;
    padding-bottom: 50px;
}

.contacts {
    padding-top: 55px;
    background-color: #ffffff;
    padding-bottom: 50px;
}


footer {
    min-height: 100px;
    padding-top: 55px;
    background-color: #333333;
    color: #ffffff;
}

.yandex-map {
    float: right;
}